* {
    font-family: Poppins;
}

/*Light Theme*/

.body-light {
    background-color: white;
}

.title-light {
    color: black;
}

.button-light {
    border-radius: 5px;
    border-width: 1px;
    background-color: #e7e7e7;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.3);
    color: black;
}

.button-light:hover {
    color: rgb(0, 132, 255);
}

.text-light {
    color: black;
}

.themes {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*Dark Theme*/

.body-dark {
    background-color: rgb(36, 37, 40);
}

.title-dark {
    color: white;
}

.button-dark {
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 1);
    background-color: rgb(76, 78, 84);
    color: white;
}

.button-dark:hover {
    color: rgb(0, 247, 255);
}

.text-dark {
    color: white;
}

/*High Contrast Theme*/

.body-contrast {
    background-color: black;
}

.title-contrast {
    color: cyan;
}

.button-contrast {
    border-width: 1px;
    background-color: magenta;
    color: black;
}

.button-contrast:hover {
    color: black;
}

.text-contrast {
    color: yellow;
}

/*Rainbow Theme*/

.body-rainbow {
    background-color: white;
}

.title-rainbow {
    -webkit-animation: rainbow 5s infinite; }

.button-rainbow {
    border-radius: 5px;
    border-width: 1px;
    background-color: #e7e7e7;
    box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.3);
    -webkit-animation: rainbow 5s infinite; }

.button-rainbow:hover {
    -webkit-animation: rainbow 5s infinite; }

.text-rainbow {
    -webkit-animation: rainbow 5s infinite; 
}

@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }
